<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8" />
      <title>Khôi Phục Mật Khẩu Email</title>
   </head>
   <body>
      <div id=":j8" class="ii gt adP adO">
         <div id=":j7" class="a3s aXjCH m15ff702dfa53cace">
            <u></u>
            <div style="margin:0;padding:0" dir="ltr" bgcolor="#ffffff">
               <table id="m_-6844339353011162853email_table" style="border-collapse:collapse" width="100%;" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                     <tr>
                        <td id="m_-6844339353011162853email_content" style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;background:#ffffff">
                           <table style="border-collapse:collapse" width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tbody>
                                 <tr>
                                    <td style="line-height:20px" colspan="3" height="20">&nbsp;</td>
                                 </tr>
                                 <tr>
                                    <td colspan="3" style="line-height:1px" height="1"><span style="color:#ffffff;display:none!important;font-size:1px">&nbsp; Xin chào {{name}}, Chúng tôi đã nhận được yêu cầu đặt lại mật khẩu FlyShop của bạn. Nhấn vào đây để đổi mật khẩu của bạn. Bạn đã không yêu cầu thay đổi này? Nếu bạn không yêu cầu mật khẩu mới, hãy cho chúng tôi biết . &nbsp;</span></td>
                                 </tr>
                                 <tr>
                                    <td style="display:block;width:15px" width="15">&nbsp;&nbsp;&nbsp;</td>
                                    <td>
                                       <table style="border-collapse:collapse" width="100%" border="0" cellspacing="0" cellpadding="0">
                                          <tbody>
                                             <tr>
                                                <td style="line-height:16px" colspan="3" height="16">&nbsp;</td>
                                             </tr>
                                             <tr>
                                                <td style="height:32;line-height:0px" width="32" valign="middle" align="left"><img src="https://scontent.fdad3-1.fna.fbcdn.net/v/t31.0-8/23215562_725022977695514_4021142280975437383_o.png?oh=4f756d65721793d9ac9a5f250b28f752&amp;oe=5AA268C5" style="border:0" class="CToWUd" width="32" height="32"></td>
                                                <td style="display:block;width:15px" width="15">&nbsp;&nbsp;&nbsp;</td>
                                                <td width="100%"><span style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:19px;line-height:32px;color:#fd8611">FLYSHOP</span></td>
                                             </tr>
                                             <tr style="border-bottom:solid 1px #e5e5e5">
                                                <td style="line-height:16px" colspan="3" height="16">&nbsp;</td>
                                             </tr>
                                          </tbody>
                                       </table>
                                    </td>
                                    <td style="display:block;width:15px" width="15">&nbsp;&nbsp;&nbsp;</td>
                                 </tr>
                                 <tr>
                                    <td style="display:block;width:15px" width="15">&nbsp;&nbsp;&nbsp;</td>
                                    <td>
                                       <table style="border-collapse:collapse" width="100%" border="0" cellspacing="0" cellpadding="0">
                                          <tbody>
                                             <tr>
                                                <td style="line-height:28px" height="28">&nbsp;</td>
                                             </tr>
                                             <tr>
                                                <td>
                                                   <span class="m_-6844339353011162853mb_text" style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:16px;line-height:21px;color:#141823">
                                                      <p>Xin chào {{name}},</p>
                                                      <p>Chúng tôi đã nhận được yêu cầu đặt lại mật khẩu FlyShop của bạn.</p>
                                                      <p><a href="{{url}}" style="color:#fd8611;text-decoration:none" target="_blank" >Nhấn vào đây để đổi mật khẩu của bạn.</a></p>
                                                      <div><span style="color:#333333;font-weight:bold">Bạn đã không yêu cầu thay đổi này?</span></div>
                                                      Nếu bạn không yêu cầu mật khẩu mới, <a href="#" style="color:#fd8611;text-decoration:none">hãy cho chúng tôi biết</a>.
                                                   </span>
                                                </td>
                                             </tr>
                                             <tr>
                                                <td style="line-height:14px" height="14">&nbsp;</td>
                                             </tr>
                                          </tbody>
                                       </table>
                                    </td>
                                    <td style="display:block;width:15px" width="15">&nbsp;&nbsp;&nbsp;</td>
                                 </tr>
                                 <tr>
                                    <td style="display:block;width:15px" width="15">&nbsp;&nbsp;&nbsp;</td>
                                    <td>
                                       <table style="border-collapse:collapse" width="100%" border="0" cellspacing="0" cellpadding="0">
                                          <tbody>
                                             <tr>
                                                <td style="line-height:2px" colspan="3" height="2">&nbsp;</td>
                                             </tr>
                                             <tr>
                                                <td class="m_-6844339353011162853mb_blk">
                                                   <a href="{{url}}" style="color:#fd8611;text-decoration:none" target="_blank">
                                                      <table style="border-collapse:collapse" width="100%" border="0" cellspacing="0" cellpadding="0">
                                                         <tbody>
                                                            <tr>
                                                               <td style="border-collapse:collapse;border-radius:2px;text-align:center;display:block;border:solid 1px #fd8611;background:#fb9326;padding:7px 16px 11px 16px">
                                                   <a href="{{url}}" style="color:#fd8611;text-decoration:none;display:block" target="_blank"><center><font size="3"><span style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;white-space:nowrap;font-weight:bold;vertical-align:middle;color:#ffffff;font-size:14px;line-height:14px">Đổi&nbsp;mật&nbsp;khẩu</span></font></center></a></td></tr></tbody></table></a>
                                                </td>
                                                <td class="m_-6844339353011162853mb_hide" width="100%"></td>
                                             </tr>
                                             <tr>
                                                <td style="line-height:32px" colspan="3" height="32">&nbsp;</td>
                                             </tr>
                                          </tbody>
                                       </table>
                                    </td>
                                    <td style="display:block;width:15px" width="15">&nbsp;&nbsp;&nbsp;</td>
                                 </tr>
                                 <tr>
                                    <td style="display:block;width:15px" width="15">&nbsp;&nbsp;&nbsp;</td>
                                    <td>
                                       <table style="border-collapse:collapse" width="100%" border="0" align="left" cellspacing="0" cellpadding="0">
                                          <tbody>
                                             <tr style="border-top:solid 1px #e5e5e5">
                                                <td style="line-height:16px" height="16">&nbsp;</td>
                                             </tr>
                                             <tr>
                                                <td style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:11px;color:#aaaaaa;line-height:16px">Tin nhắn này đã được gửi tới <a href="mailto:{{sendto}}" style="color:#fd8611;text-decoration:none" target="_blank">{{sendto}}</a>.<br>FlyShop, Inc., Attention: Support Services</td>
                                             </tr>
                                          </tbody>
                                       </table>
                                    </td>
                                    <td style="display:block;width:15px" width="15">&nbsp;&nbsp;&nbsp;</td>
                                 </tr>
                                 <tr>
                                    <td style="line-height:20px" colspan="3" height="20">&nbsp;</td>
                                 </tr>
                              </tbody>
                           </table>
                           <span><img src="https://www.facebook.com/email_open_log_pic.php?mid=55edc99989a7bG5af704402b61G55edce32e9d4dG178" style="border:0;width:1px;height:1px" class="CToWUd"></span>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="yj6qo"></div>
            <div class="adL">
            </div>
         </div>
      </div>
   </body>
</html>